.post-page {
  display: flex;
}

.post-page__aside {
  width: 15rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.post-page__aside ul {
  width: 65%;
}

.post-page__aside a {
  padding: 0.25rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.85rem;
  color: var(--color-gray2);
  text-decoration: none;
  transition: color 500ms ease;
}

.post-page__aside a:hover {
  color: var(--color-primary);
}

.post-page__aside a.active {
  font-weight: 600;
  color: var(--color-primary);
}

.post-page__aside a span {
  font-size: 0.65rem;
  color: var(--color-gray3);
}

.post-page__items {
  flex: 1;
}

.post-page__items article {
  padding: 1.75rem 0;
  border-bottom: 1px solid var(--color-border);
}

.post-page__items article:first-child {
  padding-top: 0;
}

.post-page__items article a {
  display: block;
  text-decoration: none;
  color: var(--color-black);
}

.post-page__items article h1 {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  transition: color 500ms ease;
}

.post-page__items article p {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 4.5rem;
  margin-top: 1rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  line-height: 1.5rem;
  overflow: hidden;
}

.post-page__items article time {
  display: block;
  margin-top: 1.25rem;
  font-size: 0.75rem;
  color: var(--color-gray3);
}

.post-page__items article:hover {
  cursor: pointer;
}

.post-page__items article:hover h1 {
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .post-page {
    flex-direction: column;
  }

  .post-page__aside {
    order: 1;
    width: 100%;
  }

  .post-page__aside ul {
    width: 100%;
    display: flex;
  }

  .post-page__aside ul li {
    margin-right: 1.25rem;
  }

  .post-page__aside ul li a span {
    margin-left: 0.5rem;
  }

  .post-page__items {
    order: 2;
    margin-top: 1.5rem;
  }
}
